*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #000;
    color: orange;
    text-align: center;
    padding: 15px;
}

footer{
    background-color: #000;
    color: orange;
    text-align: center;
    padding: 0px; 
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    
}

a{
    text-decoration: none;
    font-size: 18;
    color: #7d0a42;
}
#menu{
    background-color: #eeeeee;
}
#menu ul li{
    display: block;
    float: left;
    border: 2px solid #23376d;
}
#menu ul li a{
    padding: 15px;
    color: #444;
    display: block;
}
#menu ul li a:hover{
    background-color: #23376d;
    color: white;
}

.clearfix {
    float: none;
    clear: both;
}

#contenido{
    padding: 20px;
    border: 4px solid #23376d;
}

.container{
    max-width: 1000px;
    margin: auto;
    align-content: center;
   }

.descripcion{
    font-size: 5px;
    text-align: center;
    margin: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, 
    "Trebuchet MS", sans-serif;

}

.div-center {
    text-align: center;
    margin-bottom: 50px;
}

.img-carreras {
    width: 300px;
    display: block;
    margin: 0px auto;
}

.parrafo-ct {
    color: #555;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin: 25px;
    text-align: justify;
    padding: 0px;
}